name: "Run linting"

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Install dependencies
      uses: astral-sh/setup-uv@v5
      with:
        python-version: "3.12"
    - run: uv sync 



    - name: Mypy type check
      # --ignore-missing-imports is the 'secret sauce' to get Mypy passing 
      # when third-party ML libs don't have type stubs
      run: |
        export PYTHONPATH=$PYTHONPATH:$(pwd)/src
        uv run mypy src --ignore-missing-imports --install-types --non-interactive