name: "Run tests"

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    # Use the matrix value for the operating system
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: false 
      matrix:
        # This triggers a total of 3 parallel jobs (3 OS x 1 Python versions)
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.12"]

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        # Correctly reference the matrix version instead of hardcoding 3.12
        python-version: ${{ matrix.python-version }}
        cache: 'pip' # Caches dependencies based on requirements.txt

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements_dev.txt

    - name: Test with pytest
      # Using 'env' at the step level ensures 'src' is in the path for all OS types
      env:
        PYTHONPATH: src
      run: |
        pytest -v