name: "Run tests"

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    # Use the matrix value for the operating system
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: false 
      matrix:
        # This triggers a total of 3 parallel jobs (3 OS x 1 Python versions)
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.12"]

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Install dependencies
      uses: astral-sh/setup-uv@v5
      with:
        python-version: ${{ matrix.python-version }}
    - run: uv sync

    - name: Test with pytest
      # Using 'env' at the step level ensures 'src' is in the path for all OS types
      env:
        PYTHONPATH: src
      run: |
        uv run pytest -v